<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsApplication1.My.MySettings.Database2ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database2.accdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsApplication1.My.MySettings.Items2ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Items2.accdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsApplication1.My.MySettings.Items3ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Items3.accdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsApplication1.My.MySettings.Items2ConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\user\Desktop\VB under construction\New folder\WindowsApplication1\WindowsApplication1\Items2.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>